.option-container {
  display: flex;
  align-items: center;
  width: 100%;

  @media screen and (max-width: 700px) {
    justify-content: space-between;
  }
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-right: 5px;
  cursor: pointer;
}

.option:hover {
  background-color: #f0f0f0;
}

.option.selected {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.option.selected.correct {
    background-color: #00bb48;
    border-color: #00bb48;
}

.option.selected.wrong {
    background-color: #ff4800;
    border-color: #ff4800;
}

.disabled-option {
  pointer-events: none;
}

.disabled-row {
  pointer-events: none;
}

.timerWrapper {
  position: sticky;
  background: white;
  padding: 10px;
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,0.1);
}
